---
/**
 * * This is a section with four number cards that show some stats about the business.
 * You can update the data below to change the stats.
 */

// components
// import FeatureCardNumbers from "@components/FeatureCard/FeatureCardNumbers.astro";
import profileImage from "@images/bruno.jpg";
import { Image } from "astro:assets";
import Certifications from "@components/Certifications/Certifications.astro";

interface FeatureCardData {
	largeText: string;
	description: string;
}
---

<section id="presentation" class="bg-base-100 scroll-mt-10 py-8 md:py-12">
	<div
		class="bg mx-auto flex max-w-6xl gap-4 px-4 max-md:flex-col max-md:justify-items-center md:justify-between"
	>
		<div
			class="border-base-200 max-md:border-base-300 border max-md:w-fit max-md:flex-initial max-md:self-center max-md:overflow-hidden max-md:rounded-full md:self-center"
		>
			<Image
				src={profileImage}
				alt="Bruno Asllani"
				loading="eager"
				width={600}
				height={600}
				class="h-40 w-40 max-md:object-cover md:h-auto md:w-[350px] md:object-cover"
			/>
		</div>
		<div class="flex h-full flex-1 flex-col gap-y-5">
			<div class="flex flex-col gap-2">
				<h2 class="text-3xl uppercase max-md:text-center max-md:text-2xl">Bruno Asllani</h2>
				<h4 class="max-md:text-md uppercase max-md:text-center md:text-xl">
					Massaggiatore Sportivo & Operatore Olistico
				</h4>
			</div>
			<div class="bg-base-600 h-0.5 w-20 max-md:w-full"></div>
			<div class="flex flex-col gap-5 max-md:justify-items-center">
				<div class="bg-base-800/10 p-3">
					Il mio percorso nel mondo del massaggio è cominciato quando ero atleta agonista. Dopo ogni
					allenamento e gara, ho imparato quanto fosse fondamentale <b
						>prendersi cura del proprio corpo</b
					>
					per recuperare al meglio e prevenire infortuni.
				</div>
				<div class="bg-base-800/10 p-3">
					Quelle esperienze non solo hanno rafforzato la mia passione per lo sport, ma hanno acceso
					in me il <b>desiderio di aiutare gli altri a sentirsi meglio</b>
				</div>
				<div class="bg-base-800/10 p-3">
					Oggi sono un operatore specializzato in massaggio sportivo e benessere olistico. Unisco
					tecnica, ascolto e sensibilità per creare <b>trattamenti personalizzati</b>, pensati per
					favorire il recupero fisico, rilassare la mente e ritrovare equilibrio. Lavoro con atleti,
					sportivi amatoriali e chiunque desideri prendersi cura di sé in modo consapevole.
		</div>
	</div>
</section>

<!-- Certifications Carousel -->
<Certifications />
