---
/**
 * * This is a section with four number cards that show some stats about the business.
 * You can update the data below to change the stats.
 */

// components
// import FeatureCardNumbers from "@components/FeatureCard/FeatureCardNumbers.astro";
import profileImage from "@images/bruno.jpg";
import { Image } from "astro:assets";

interface FeatureCardData {
	largeText: string;
	description: string;
}
---

<section id="presentation" class="bg-base-100 scroll-mt-10 py-8 md:py-12">
	<div
		class="bg mx-auto flex max-w-6xl gap-4 px-4 max-md:flex-col max-md:justify-items-center md:justify-between"
	>
		<div
			class="self-center border-2 border-amber-800 max-md:w-fit max-md:overflow-hidden max-md:rounded-full"
		>
			<Image
				src={profileImage}
				alt="Cosmic Themes logo"
				loading="eager"
				width={1067}
				height={1600}
				class="h-32 w-32 max-md:object-cover md:h-[500px] md:w-[300px]"
			/>
		</div>
		<div class="flex h-full flex-1 flex-col gap-y-5">
			<h3 class="text-3xl uppercase max-md:text-center max-md:text-xl">
				Massoterapista, massaggiatore e chinesiologo per il benessere totale
			</h3>
			<div class="h-0.5 w-20 bg-black max-md:w-full"></div>
			<div class="">
				Massaggiatore professionale specializzato in ambito olistico, tecnico sportivo e
				massoterapico. Servizi personalizzati per favorire un rilassamento generale e ridurre i
				livelli di stress, attraverso il riequilibrio ormonale e circolatorio. Massaggi
				decontratturanti e defaticanti per alleviare tensioni muscolari e favorire il recupero
				post-gara o post-allenamento, sia per atleti agonisti che amatoriali. Massaggi anticellulite
				e linfodrenanti per il trattamento di edemi post-infortunio o ritenzione idrica, migliorando
				l'estetica e la salute. Trattamenti massoterapici per alleviare dolori cronici localizzati,
				come lombalgia, cervicalgia, spalle e arti, spesso derivanti da squilibri posturali o
				posture lavorative forzate. Taping kinesiologico per fini drenanti, modellanti, tonificanti
				e per accelerare la guarigione da infiammazioni e riparazione dei tessuti. Collaboro con
				biologi nutrizionisti e laureati in Scienze Motorie per offrire percorsi integrati, mirati
				al raggiungimento di obiettivi di ricomposizione corporea e miglioramento delle capacità
				cardiocircolatorie, muscolari, di mobilità e flessibilità.
			</div>
		</div>
		<!-- <div class="text-prety mr-auto text-center">
			<h2 class="h2">Capture your love story with an experienced, client centered photographer</h2>
		</div>

		<div
			id="feature-numbers-cards"
			class="mt-6 grid gap-10 gap-y-16 sm:grid-cols-2 md:mt-12 lg:grid-cols-4"
		>
			{
				featureData.map((feature, idx) => (
					<FeatureCardNumbers largeText={feature.largeText} description={feature.description} />
				))
			}
		</div> -->
	</div>
</section>
