---
/**
 * * Contact section for the website
 */

import { Image } from "astro:assets";

// components
import ContactForm from "@components/Forms/ContactForm.astro";

interface Props {
	class?: string;
}

const { class: className } = Astro.props as Props;

import ringsImage from "@assets/images/MASSAGE_ig.png";
---

<section
	id="contact"
	class="mx-auto flex max-w-md scroll-mt-10 flex-col gap-4 px-4 py-8 md:max-w-6xl md:py-12"
	class:list={[className]}
>
	<h2 class="text-center text-3xl uppercase md:px-12 lg:text-6xl">Contattaci</h2>
	<div class="grid grid-cols-1 gap-y-10 md:grid-cols-2">
		<div
			class="border-primary-300 flex flex-col items-center gap-2 pt-8 md:border-r md:pr-20 md:pl-12"
		>
			<p class="description">Scrivici un messaggio su instagram</p>
			<div class="mx-auto mt-8 aspect-square overflow-hidden">
				<Image
					src={ringsImage}
					alt="wedding rings"
					width={450}
					densities={[1.5, 2]}
					class="h-full w-full object-cover"
				/>
			</div>
			<p class="text-sm">@massage_bruno_asllani</p>
		</div>
		<div class="flex flex-col items-center gap-2 md:pr-12 md:pl-20">
			<p class="description">Compila il form</p>
			<ContactForm />
		</div>
	</div>
</section>
